/* Reset and consolidate font definitions */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Code Latin", "Source Code Pro", Arial, sans-serif;
}

/* Styles for headers */
h1,
h2 {
  color: #ffffff;
}

h1 {
  font: 2em uppercase; /* Shorthand for font-size and text-transform */
  margin-bottom: 20px;
}

@keyframes rock {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

/* Add more styles for the image as needed */
.rocking-image {
  width: 300px; /* Adjust the width to your preference */
  height: auto; /* Maintain the aspect ratio */
}

/* Header styles */
header {
  background: #222;
  padding: 0;
  margin: auto;
}

/* Styles for the navigation bar */
nav {
  background: #222;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 15px;
  list-style: none;
  color: #ffffff;
  font-size: x-large;
  font-weight: bolder;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background: rgb(0, 29, 250);
}
a:visited {
  color: #ffffff; /* You can set the color you prefer */
}
/* Reset and consolidate font definitions */
h1 img {
  max-width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
}

/* Styles for body */
body {
  background: #222;
  color: #fff;
  line-height: 1.6;
  margin: auto;
}

/* Center containers and make them responsive */
.container {
  width: 100%;
  max-width: 100%;
  margin: 10px auto; /* Center the container horizontally */
  text-align: center;
}

/* Section styles */
section {
  padding: 10px;
}

/* Styles for section headers */
h2 {
  color: #ffffff;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

div {
  margin-bottom: 20px; /* Adjust the value to control the space between <p> and <a> */
}

div h3 {
  color: #007bff; /* Change the color to your preference */
}

div p {
  line-height: 1.6;
  color: #fff; /* Change the color to your preference */
}

div a {
  display: inline-block; /* Ensures the margin is applied horizontally */
  margin-top: 10px; /* Adjust the value to control the space between <p> and <a> */
}

div a i {
  color: #ffffff;
  font-size: 2em; /* Adjust the size using em units */
}

#about {
  text-align: center; /* Add this line to center-align the text */
  margin-top: 30px;
  margin-bottom: 30px;
}

#about h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

#about p {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto; /* Center the paragraph horizontally within its container */
}

#projects {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#projects h2 {
  color: #ffffff;
}

#projects div {
  margin-bottom: 20px;
}

#projects h3 {
  color: #007bff; /* Change the color to your preference */
}

#projects p {
  line-height: 1.8;
}

/* Styles for skills section */
#skills ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#skills i {
  font-size: 300%;
  margin: 0 10px;
}

/* Contact section styles */
#contact {
  text-align: center;
  margin: 0 auto; /* Center the contact section horizontally */
}
/* Form styling */
form {
  max-width: 400px;
  width: 80%;
  margin: 0 auto; /* Center the form horizontally within the contact section */
  padding: 20px;
  box-sizing: border-box;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #ffffff;
  color: #007bff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #007bff;
}

.contact-icons {
  display: flex;
  justify-content: center;
}

#contact a {
  color: #007bff;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

.far.fa-paper-plane,
.fab.fa-linkedin,
.fa-square-github,
.fa-code .fa-user {
  font-size: 2em; /* Adjust the size using em units */
  margin: 0 10px;
  color: #fff; /* Apply common styles to all icons */
  padding-top: 20px;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff; /* Change the color to your preference */
  color: #007bff;
  border: none;
  border-radius: 50%;
  padding: 15px; /* Increase padding for a larger button */
  font-size: 1.8em; /* Increase font size for a larger button */
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Optional: Add a subtle box shadow */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for the transform property */
}

#backToTopBtn:hover {
  background-color: #007bff; /* Change the color to a slightly darker shade on hover */
  transform: scale(1.1); /* Optional: Add a scaling effect on hover */
  color: #fff;
}

/* Footer styles */
.container footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: auto;
}
