/* Reset some default styles and consolidate font definitions */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Code Latin", "Source Code Pro", Arial, sans-serif;
}

body {
  background-color: #222; /* Black background */
  color: #fff; /* White text */
  line-height: 1.6;
}

/* Center containers and make them responsive */
.container {
  width: 100%;
  max-width: 100%; /* Adjust the maximum width as needed */
  margin: 10px; /* All sides: 10px margin */
}

header {
  background-color: #333; /* Dark Grey background for header */
  padding: 20px;
  text-align: center;
}

/* Styles for the navigation bar */
nav {
  background-color: #333; /* Dark Grey background for the navigation bar */
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 15px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff; /* White text for navigation links */
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #00f; /* Blue background on hover */
}

h1 {
  color: rgb(60, 60, 255); /* Blue text for the main header */
}

section {
  padding: 10px;
}

h2 {
  color: rgb(60, 60, 255); /* Blue text for section headers */
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

#skills ul {
  columns: 2;
}

/* Styles for generic class */
.your-class-name {
  margin-bottom: 20px;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 1200px) {
  /* Styles for desktop or larger screens */
  .container {
    max-width: 1200px;
  }

  section {
    padding: 10px; /* Adjusted padding */
  }
}

@media only screen and (max-width: 992px) {
  /* Styles for tablet screens */
  .container {
    max-width: 768px;
  }

  section {
    padding: 15px; /* Adjusted padding */
  }
}

@media only screen and (max-width: 768px) {
  /* Styles for mobile screens */
  .container {
    max-width: 100%;
  }

  section {
    padding: 10px; /* Adjusted padding */
  }
}
